<!DOCTYPE html>
<html lang="en">
<head>
    <title>Automatic Popup</title>
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Stylesheets-->
    <style media="screen">
        /* Add your custom styles here */
    </style>
    <!-- Include the custom.html file -->
    {% include head/custom.html %}
</head>
<body>
    <!-- Add the popup HTML markup -->
    {% include popup.html %}
    <!--Script-->
    <script type="text/javascript">
        window.addEventListener("load", function () {
            var urlPrefix = "https://indomet.github.io/";

            if (window.location.href.startsWith(urlPrefix)) {
                setTimeout(function open(event) {
                    document.querySelector(".popup").style.display = "block";
                }, 2000);
            }
        });

        document.querySelector("#close").addEventListener("click", function () {
            document.querySelector(".popup").style.display = "none";
        });
    </script>
</body>
</html>
